<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Reminder</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="../template.html">Template</a></li>
            <li><a href="../reminder.html">Appointment Reminder</a></li>
        </ul>
    </nav>
    <a href="../reminder.html"><button>Back</button></a><br><br>
    <div class="main">
        

        <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>

            <label for="date">Appt Date:</label>
            <input type="date" id="date" name="date" required><br><br>

            <label for="time">Appt Time:</label>
                <select name="time" id="time">
                    <option value=""></option>
                    <option value=" 8:30 a.m.">8:30</option>
                    <option value=" 8:40 a.m.">8:40</option>
                    <option value=" 8:50 a.m.">8:50</option>
                    <option value=" 9:00 a.m.">9:00</option>
                    <option value=" 9:10 a.m.">9:10</option>
                    <option value=" 9:20 a.m.">9:20</option>
                    <option value=" 9:30 a.m.">9:30</option>
                    <option value=" 9:40 a.m.">9:40</option>
                    <option value=" 9:50 a.m.">9:50</option>
                    <option value=" 10:00 a.m.">10:00</option>
                    <option value=" 10:10 a.m.">10:10</option>
                    <option value=" 10:20 a.m.">10:20</option>
                    <option value=" 10:30 a.m.">10:30</option>
                    <option value=" 10:40 a.m.">10:40</option>
                    <option value=" 10:50 a.m.">10:50</option>
                    <option value=" 11:00 a.m.">11:00</option>
                    <option value=" 11:10 a.m.">11:10</option>
                    <option value=" 11:20 a.m.">11:20</option>
                    <option value=" 11:30 a.m.">11:30</option>
                    <option value=" 11:40 a.m.">11:40</option>
                    <option value=" 11:50 a.m.">11:50</option>
                    <option value=" 12:00 p.m.">12:00</option>
                    <option value=" 12:10 p.m.">12:10</option>
                    <option value=" 12:20 p.m.">12:20</option>
                    <option value=" 12:30 p.m.">12:30</option>
                    <option value=" 12:40 p.m.">12:40</option>
                    <option value=" 12:50 p.m.">12:50</option>
                    <option value=" 1:00 p.m.">1:00</option>
                    <option value=" 1:10 p.m.">1:10</option>
                    <option value=" 1:20 p.m.">1:20</option>
                    <option value=" 1:30 p.m.">1:30</option>
                    <option value=" 1:40 p.m.">1:40</option>
                    <option value=" 1:50 p.m.">1:50</option>
                    <option value=" 2:00 p.m.">2:00</option>
                    <option value=" 2:10 p.m.">2:10</option>
                    <option value=" 2:20 p.m.">2:20</option>
                    <option value=" 2:30 p.m.">2:30</option>
                    <option value=" 2:40 p.m.">2:40</option>
                    <option value=" 2:50 p.m.">2:50</option>
                    <option value=" 3:00 p.m.">3:00</option>
                    <option value=" 3:10 p.m.">3:10</option>
                    <option value=" 3:20 p.m.">3:20</option>
                    <option value=" 3:30 p.m.">3:30</option>
                    <option value=" 3:40 p.m.">3:40</option>
                    <option value=" 3:50 p.m.">3:50</option>
                </select><br><br>

    <textarea id="te" cols="50" rows="10">您好，这里是丁华医生诊所，提醒name的预约时间是date的time抽血， 记得准时到，空腹四个小时，可以喝水。如有任何问题请致电718-886-8998. 谢谢！

    Good morning, this is message is from Dr.Ding's office to remind name has an appointment with us on date at time for blood, please be fasting for 4 hours, but water is allowed. If any questions, call 718-886-8998, thank you!
    </textarea><br><br>
        
        
        <button onclick="submit()">submit</button> 
    </div>
    

    <script src="../js/replace.js"></script>

    
</body>
</html>