<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F/U Reminder</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="../template.html">Template</a></li>
            <li><a href="../reminder.html">Appointment Reminder</a></li>
        </ul>
    </nav>
    <a href="../reminder.html"><button>Back</button></a><br><br>
    <div class="main">
        

        <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>

    <textarea id="te" cols="50" rows="10">您好，这里是丁华医生诊所，提醒name您的报告出来了，需要回来。请致电718-886-8998预约时间. 谢谢！</textarea><br><br>
        
        
        <button onclick="report_submit()">submit</button> 
    </div>
    

    <script src="../js/replace.js"></script>

    
</body>
</html>